body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 600px;
    height: calc(100vh - 120px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    border: 1px #eaeaea solid;
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input,
.num,
.btn {
    padding: 5px;
    outline: 0;
    border-radius: 5px;
}

.btn {
    border: 0;
    margin: 0;
    padding: 10px;
}

.form_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form_title {
    font-size: 20px;
}

.block:last-child {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
}

.form_title {
    margin-bottom: 10px;
}

.form_title:first-child {
    margin-top: 20px;
}

.main_title {
    font-size: 35px;
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 25px;
}

header a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

header {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}